In [1]:
import os
import requests
import pandas

In [3]:
def api_ingest(link):
    req = requests.get(link)
    file = req.json()['data']

    list_data = []
    for data in file:
        dict_data = {}
        dict_data['UserId'] = data['User']
        dict_data['UserFirst'] = data['context'][0]['first']
        dict_data['UserLast'] = data['context'][0]['last']
        list_data.append(dict_data)
    df = pandas.DataFrame(list_data)
    return df

In [4]:
def csv_ingest(csvfile):
    return pandas.read_csv(csvfile)

In [5]:
path_data = "/content/drive/MyDrive/Training/DigitalSkola Mini Bootcamp280522/dataset/"

In [11]:
link = open(path_data + "API_Json.txt",'r').read()

In [12]:
print(link)

https://raw.githubusercontent.com/rahmat14/DigitalSkola/main/TR_UserStatus.json

In [13]:
data = api_ingest(link)
print(data)

     UserId   UserFirst    UserLast
0      1164  2021-05-27  2022-01-06
1      1003  2021-06-19  2021-08-01
2      1169  2021-07-05  2021-04-21
3      1047  2021-12-11  2021-04-29
4       613  2021-06-06  2021-07-17
...     ...         ...         ...
1402    861  2021-04-02  2021-04-09
1403   1031  2021-01-03  2021-08-27
1404    795  2021-03-02  2021-06-20
1405    352  2021-04-06  2021-06-24
1406     33  2021-01-27  2021-12-15

[1407 rows x 3 columns]

In [16]:
csv_order = path_data + 'TR_OrderDetails.csv'
order = csv_ingest(csv_order)
order

      UserID  OrderID   OrderDate  PropertyID  ProductID  Quantity
0        926        1  01-01-2015          17         41         1
1        905        2  01-01-2015          15         54         2
2       1283        3  01-01-2015           5         71         2
3       1293        4  01-01-2015          19          3         2
4        379        5  01-01-2015          12         45         3
...      ...      ...         ...         ...        ...       ...
4995     610     4996  31-12-2016           3         47         2
4996     267     4997  31-12-2016          12         57         1
4997    1301     4998  31-12-2016           7         77         1
4998     177     4999  31-12-2016          17         57         1
4999    1331     5000  31-12-2016           1          9         2

[5000 rows x 6 columns]

In [20]:
csv_product = path_data + 'TR_Products.csv'
product = csv_ingest(csv_product)
product

    ProductID   ProductName ProductCategory  Price
0           1   Large Towel    Housekeeping      9
1           2    Hand Towel    Housekeeping      5
2           3     Washcloth    Housekeeping      3
3           4       Shampoo    Housekeeping     40
4           5   Moisturizer    Housekeeping     40
..        ...           ...             ...    ...
89         90  Luggage Cart    Public Areas    138
90         91    Small Sign    Public Areas     14
91         92    Large Sign    Public Areas     20
92         93      Terminal    Public Areas     85
93         94       Monitor    Public Areas     70

[94 rows x 4 columns]

In [21]:
csv_property = path_data + 'TR_PropertyInfo.csv'
property = csv_ingest(csv_property)
property

    Prop ID   PropertyCity  PropertyState
0         1       New York       New York
1         2     Cincinnati           Ohio
2         3       Portland         Oregon
3         4        Seattle     Washington
4         5    Kansas City       Missouri
5         6        Orlando        Florida
6         7         Boston  Massachusetts
7         8   Philadelphia   Pennsylvania
8         9       Richmond       Virginia
9        10      Arlington       Virginia
10       11        Atlanta        Georgia
11       12         Dallas          Texas
12       13    New Orleans      Louisiana
13       14      Nashville      Tennessee
14       15        Chicago       Illinois
15       16         Denver       Colorado
16       17      Las Vegas         Nevada
17       18        Phoenix        Arizona
18       19    Los Angeles     California
19       20  San Francisco     California

In [23]:
csv_user = path_data + 'TR_UserInfo.csv'
user = csv_ingest(csv_user)
user

      UserID UserSex UserDevice
0       1164    Male     Others
1       1003  Female     Others
2       1169    Male        Ios
3       1047  Female     Others
4        613  Female        Web
...      ...     ...        ...
1402     861    Male        Web
1403    1031    Male    Android
1404     795  Female    Android
1405     352    Male     Others
1406      33  Female     Others

[1407 rows x 3 columns]